[Unit]
Description=Guizhong Service

[Service]
WorkingDirectory=<FILL WORKSPACE>
User=<FILL USER>
ExecStart=uv run main.py
Restart=always

[Install]
WantedBy=multi-user.target